server {
  listen 80;
  server_name ${APP_NAME};
  location /lua {
    content_by_lua_block {
        local file = io.open("/killswitches/uri/lua", "r")
        if file then
          ngx.say("Oh no, this has been disabled")
        else
          ngx.say("Hi, from within this lua block.")
        end
    }
  }
  location / {
    proxy_pass http://${APP_HOST}:${APP_PORT};
  }
}
